<div class="container">
  <!-- <button class="btn btn-primary center-align" (click)="toggleShowData()">
    {{ showData ? "Hide" : "Show" }} Data
  </button> -->
  <div class="card" *ngIf="showData">
    <!-- <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Question and Answer table</h3> -->
    <div class="card-body">
      <div id="table" class="table-editable">
        <table
          class="table table-bordered table-responsive-md table-striped text-center"
        >
          <tr>
            <th>
              <span class="custom-control custom-checkbox mb-3">
                <button
                  type="button"
                  class="btn btn-dark"
                  (click)="selectAll()"
                >
                  Select/ Unselect All
                </button>
              </span>
            </th>
            <th class="text-center">Id</th>
            <th class="text-center">Category</th>
            <th class="text-center">Answer</th>
            <th class="text-center">Question</th>
          </tr>
          <tr *ngFor="let item of listOfQnA; let id = index">
            <td>
              <form #form="ngForm">
                <span class="custom-control custom-checkbox mb-3">
                  <input
                    type="checkbox"
                    name="list_name"
                    (click)="onSelected(id)"
                    class="custom-checkbox custom-control-input"
                    id="customCheck{{ id }}"
                    [checked]="!disabled"
                  />
                  <label
                    class="custom-control-label"
                    for="customCheck{{ id }}"
                  ></label>
                </span>
              </form>
            </td>
            <td>
              {{ id }}
            </td>
            <td>
              <span
                (keyup)="changeValue(id, 'category', $event)"
                (blur)="updateList(id, 'category', $event)"
                contenteditable="true"
                >{{ item.category }}</span
              >
            </td>
            <td>
              <span
                contenteditable="true"
                (keyup)="changeValue(id, 'answer', $event)"
                (blur)="updateList(id, 'answer', $event)"
                >{{ item.answer }}</span
              >
            </td>
            <td>
              <span
                contenteditable="true"
                (keyup)="changeValue(id, 'question', $event)"
                (blur)="updateList(id, 'question', $event)"
                >{{ item.question }}</span
              >
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <app-download-file
    [listOfSelectedQnA]="listOfSelectedQnA"
  ></app-download-file>
</div>
