<body>
    <header class="masthead text-center text-white">
        <div class="masthead-content">
            <div class="container">
                <h1 class="masthead-heading">{{ pageTitle }}</h1>
                <h6 class="masthead-subheading">A single Faq Bank for all for all your queries</h6>
            </div>
        </div>
    </header>

    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div>
                        <a [routerLink]="['/faq/extract']" class="btn btn-primary btn-xl-right col-9">Extract</a>
                        <!-- <img class="img-fluid rounded-circle" src="img/01.jpg" alt="" /> -->
                    </div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                        <h2 class="display-4">Fetch FAQs from any website...</h2>
                        <p>
                            Use various tools to fetch and download a csv of FAQs from any website just on a click of a button.
                            <!-- Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati. -->
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 order-lg-0">
                    <div class="p-5">
                        <!-- <img class="img-fluid rounded-circle" src="img/02.jpg" alt="" /> -->
                        <a [routerLink]="['/faq/explore']" class="btn btn-primary btn-xl-left col-11">Explore</a>
                    </div>
                </div>
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5">
                        <h2 class="display-4">Explore, Analyse and Download FAQs</h2>
                        <p>
                            Explore FAQs, Edit FAQs, Build Your Custom FAQ Databases, Download CSV, etc
                            <!-- Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati. -->
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--
    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5">
                        <img class="img-fluid rounded-circle" src="img/03.jpg" alt="" />
    </div>
    </div>
    <div class="col-lg-6 order-lg-1">
        <div class="p-5">
            <h2 class="display-4">Build Your Custom FAQ Database</h2>
            <p> -->
    <!-- Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati. -->
    <!-- </p>
        </div>
    </div>
    </div>
    </div>
    </section> -->

    <!-- Footer -->
    <footer class="py-5 bg-black">
        <div class="container">
            <!-- <p class="m-0 text-center text-white small">Copyright &copy; Your Website 2019</p> -->
        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>