/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import '~bootstrap\dist\css\bootstrap.min.css';
/* @import '~node_modules/datatables.net-dt/css/jquery.dataTables.css'; */
/* @import '~font-awesome\css\font-awesome.min.css'; */
body {
  font-family: 'Lato';
  color: #333333;
  font-size: 0.9rem;
  letter-spacing: 1px;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Times New Roman';
  font-weight: 800 !important;
  letter-spacing: 3px;
}

h6 {
  font-family: 'Times New Roman';
  font-weight: 500 !important;
  letter-spacing: 3px;
}

.btn-xl-right {
  text-transform: uppercase;
  padding: 6.2rem 3rem;
  font-size: 1.8rem;
  font-weight: 100;
  letter-spacing: 0.1rem;
  color: #feeeff;
  margin: 3.5rem;
  block-size: 15rem;
}

.btn-xl-left {
  text-transform: uppercase;
  padding: 6.2rem 3rem;
  font-size: 1.8rem;
  font-weight: 100;
  letter-spacing: 0.1rem;
  color: #feeeff;
  margin: 0.75rem;
  block-size: 15rem;
}

.bg-black {
  background-color: #3b3b3b !important;
}

.rounded-pill {
  border-radius: 50%;
}

.navbar-custom {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: rgba(255, 255, 255, 0.7);
}

.navbar-custom .navbar-brand {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  font-weight: 700;
}

.navbar-custom .navbar-nav .nav-item .nav-link {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 100;
  letter-spacing: 0.1rem;
  color: #131824;
}

.nav-link:active,
.nav-link:focus,
.nav-link:hover {
  background-color: rgba(200, 200, 200, 0.7) !important;
  border-color: rgba(200, 200, 200, 0.7) !important;
}

header.masthead {
  position: relative;
  overflow: hidden;
  padding-top: calc(7rem + 72px);
  padding-bottom: 7rem;
  background: -webkit-gradient(linear, left bottom, left top, from(#3b3b3b), to(#3b3b3b));
  background: #3b3b3b;
  /* linear-gradient(0deg, #868ce6 0%, #95f0fb 100%); */
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
}

header.masthead .masthead-content {
  z-index: 1;
  position: relative;
}

header.masthead .masthead-content .masthead-heading {
  font-size: 4rem;
}

header.masthead .masthead-content .masthead-subheading {
  font-size: 2rem;
}

@media (min-width: 992px) {
  header.masthead {
    padding-top: calc(1rem + 30px);
    padding-bottom: 3rem;
    /* background-image: url('background_images/9.jpg'); */
    background-size: 100%;
    /* background-image: cross-fade('geometric-background.jpg')); */
  }
  header.masthead .masthead-content .masthead-heading {
    font-size: 3.3rem;
    color: #ffffff;
    /* fd9460 */
    padding-top: 5rem;
    padding-bottom: 0.1rem;
  }
  header.masthead .masthead-content .masthead-subheading {
    font-size: 1.4rem;
    font-weight: 100;
    color: #fdc073;
    padding-bottom: 5rem;
  }
}

.btn-primary {
  background-color: #fd9460;
  border-color: #fd9460;
}

.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
  background-color: #ff822f !important;
  border-color: #ff822f !important;
}

.btn-primary:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(251, 251, 251, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(251, 251, 251, 0.5);
}

.display-4 {
  color: #404040;
  font-size: 1.7rem;
  letter-spacing: 2px;
}
